### Question 1

In [5]:
poem_str="Twinkle, twinkle, little star, \n\t How I wonder what you are! \n\t\t Up above the world so high, \n\t\t Like a diamond in the sky. \n Twinkle, twinkle, little star, \n\t How I wonder what you are"

In [7]:
print(poem_str)

Twinkle, twinkle, little star,
	 How I wonder what you are!
		 Up above the world so high,
		 Like a diamond in the sky.
 Twinkle, twinkle, little star,
	 How I wonder what you are

### Question 2

In [54]:
pi=3.1412

rad=input("Please Enter a radius: ")
rad=float(rad)

area=pi*(rad**2)
print(area)

Please Enter a radius: 3.76
44.40902912

### Question 3

In [14]:
f_name=input("Please enter your First Name: ")
l_name=input("Please enter your Last Name: ")

rev_name=l_name+" "+f_name
print(rev_name)

Please enter your First Name: Zain
Please enter your Last Name: Akbar
Akbar Zain

### Question 4

In [55]:
int_sequence=input("Enter sequence seperated by commas: ")
my_list=int_sequence.split(",")
print(my_list)
my_tuple=tuple(my_list)
print(my_tuple)

Enter sequence seperated by commas: 3,5,7,23
['3', '5', '7', '23']
('3', '5', '7', '23')

### Question 5

In [56]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0])
print(color_list[3])

Red
Black

### Question 6

In [41]:
n=input("Enter the number n: ")
n=int(n)

term_1=n
term_2=(n*10)+n
term_3=(n*100)+(n*10)+n

print(term_1+term_2+term_3)

Enter the number n: 5
615

### Question 7

In [1]:
num=input("Enter a number: ")
num=int(num)

if num>17:
    print((num-17)*2)
else:
    print(num-17)

Enter a number: 12
-5

### Question 8

In [47]:
num_1=input("Enter a number: ")
num_1=int(num_1)

num_2=input("Enter a number: ")
num_2=int(num_2)

num_3=input("Enter a number: ")
num_3=int(num_3)

if num_1==num_2==num_3:
    sum=num_1+num_2+num_3
    print(sum*3)
else:
    sum=num_1+num_2+num_3
    print(sum)

Enter a number: 4
Enter a number: 5
Enter a number: 7
16

### Question 9

In [4]:
numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 
104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958,743, 527]

for x in numbers:
    if x % 2==0:
        print(x)
    elif x==237:
        break

386
462
418
344
236
566
978
328
162
758
918

### Question 10

In [53]:
x=4
y=3

print((x+y)*(x+y))

49